<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechZoneProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechZoneProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Tech<span class="brand-accent">Zone</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span style="color: white; font-size: 1.5rem;"><i class="fas fa-bars"></i></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>

                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="Shop" asp-action="Index" id="hardwareDropdown" role="button" aria-expanded="false">
                                Хардуер
                            </a>

                            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="hardwareDropdown">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="dropdown-header-custom">Основни Компоненти</span>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="cpu">Процесори</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="gpu">Видео карти</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="motherboard">Дънни платки</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="case">Кутии</a>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="dropdown-header-custom">Памет и Съхранение</span>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="ram">RAM Памет</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="ssd">SSD Дискове</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="hdd">Хард дискове</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="psu">Захранвания</a>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="https://gplay.bg/content/images/promo/promo_banner.jpg" class="menu-promo-img" alt="Promo Hardware">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown position-static">
                            <a class="nav-link dropdown-toggle" asp-controller="Shop" asp-action="Peripherals" id="periphDropdown" role="button" aria-expanded="false">
                                Периферия
                            </a>

                            <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="periphDropdown">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span class="dropdown-header-custom">Гейминг Гиър</span>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="mouse">Геймърски Мишки</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="keyboard">Клавиатури</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="headset">Слушалки</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="mousepad">Падове</a>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="dropdown-header-custom">Екрани и Стрийминг</span>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="monitor">Монитори</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="microphone">Микрофони</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="camera">Уеб камери</a>
                                            <a class="dropdown-item-custom" asp-controller="Shop" asp-action="Category" asp-route-id="chair">Геймърски столове</a>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="https://gplay.bg/content/images/home_banners/periferiq-banner.jpg" class="menu-promo-img" alt="Promo Peripherals">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - TechZoneProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
